{% extends 'index.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block header %}{{ article.title }}{% endblock %}
{% block content %}
    <section id="article_detail">
        <article>
            <h2>{{ article.title }}</h2>
            <p>{{ article.content }}</p>
            <p><strong>Data publikacji:</strong> {{ article.published_date }}</p>
            {% if article.image %}
                <img src="{{ article.image.url }}" alt="Image">
            {% endif %}
        </article>
    </section>
    <a href="{% url 'edit_article' article_id=article.id %}">Edytuj artykuł</a>
    <a href="{% url 'delete_article' pk=article.id %}">Usuń artykuł</a>
{% endblock %}