{% extends 'index.html' %}
{% load static %}
{% block title %}Lista Zawodników{% endblock %}

{% block header %}Lista Zawodników{% endblock %}

{% block content %}
    <section id="organization_title">
        <h2>UFC</h2>
    </section>

    <section id="category_title">
        <h3>Kategoria lekka</h3>
    </section>

    <section id="fighter_list">
        <ul>
            {% for fighter in fighters %}
                <li><a href="{% url 'fighter-detail' fighter.id %}">{{ fighter.name }}</a></li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}