{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Lista Zawodników</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>

<body>
    <header>
        <h1>Lista Zawodników</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'aktualnosci' %}">Aktualności</a></li>
            <li><a href="{% url 'event_list' %}">Eventy</a></li>
            <li><a href="{% url 'fight_highlights_list' %}">Skróty Walk</a></li>
            <li><a href="{% url 'fighters' %}">Zawodnicy</a></li>
            <li><a href="{% url 'organizacje' %}">Organizacje</a></li>
        </ul>
    </nav>

    <main>
        <section id="fighter_list">
            <ul>
                {% for fighter in fighters %}
                    <li><a href="{% url 'fighter-detail' fighter.id %}">{{ fighter.name }}</a></li>
                {% endfor %}
            </ul>
        </section>
    </main>

    <footer>
        <p>&copy; 2024 Nasza Organizacja</p>
    </footer>
</body>

</html>