{% load static %}
<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <title>Łokieto</title>
    <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}">
</head>

<body>
    <header>
        <h1>Łokieto</h1>
        <div class="user-info">
            {% if user.is_authenticated %}
            <li>
                <form action="{% url 'user_logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Wyloguj</button>
                </form>
            </li>
            <li>Witaj, {{ user.username }}</li>
        {% else %}
            <li><a href="{% url 'user_login' %}">Zaloguj</a></li>
            <li><a href="{% url 'register' %}">Zarejestruj</a></li>
        {% endif %}
        </div>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'aktualnosci' %}">Aktualności</a></li>
            <li><a href="{% url 'event_list' %}">Eventy</a></li>
            <li><a href="{% url 'fight_highlights_list' %}">Skróty Walk</a></li>
            <li><a href="{% url 'fighters' %}">Zawodnicy</a></li>
            <li><a href="{% url 'fighter_search' %}">Wyszukaj zawodnika</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Łokieto.pl</p>
    </footer>
</body>

</html>