{% extends 'index.html' %}
{% load static %}

{% block title %}Wyszukiwanie zawodników{% endblock %}

{% block header %}Wyszukiwanie zawodników{% endblock %}

{% block content %}
<section id="fighter_search">
    <h2>Wyszukiwanie zawodników</h2>
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Szukaj</button>
    </form>

    {% if fighters %}
    <ul>
        {% for fighter in fighters %}
        <li><a href="{% url 'fighter_detail' fighter.id %}">{{ fighter.name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>Brak wyników wyszukiwania dla zadanego zapytania.</p>
    {% endif %}
</section>
{% endblock %}